* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  word-spacing: 10px;
  background-color: rgba(0, 0, 0, 0.507);
}

.x {
  height: 50%;
  width: 100vw;
  /* background-color: aquamarine; */
  /* border: solid; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  background-color: beige;
}

.y {
  height: 50%;
  width: 100vw;
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: solid; */
  background-color: rgb(245, 245, 220);
  gap: 20px;
}

.i {
  height: 37vh;
  width: 20vw;
  background-image: url("./WhatsApp\ Image\ 2025-06-01\ at\ 1.25.11\ AM.jpeg");
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* border: solid; */
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.j {
  height: 40vh;
  width: 19vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./WhatsApp\ Image\ 2025-06-01\ at\ 11.58.58\ AM.jpeg");
  /* border: solid; */
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.k {
  height: 33vh;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./WhatsApp\ Image\ 2025-06-01\ at\ 11.53.43\ AM.jpeg");
  /* border: solid; */
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.a {
  /* border: solid; */
  height: 50vh;
  width: 30vw;
  justify-content: center;
  flex-direction: column;
}

.b {
  /* border: solid; */
  height: 50vh;
  width: 30vw;
  justify-content: center;
  flex-direction: column;
}

.c {
  /* border: solid; */
  height: 50vh;
  width: 30vw;
  justify-content: center;
  align-items: center;
}
.t {
  /* border: solid; */
  height: 30vh;
  width: 80vw;
  font-size: 30px;
}
.p {
  /* border: solid; */
  margin-top: 20px;
}
.rohit {
  height: 5vh;
  width: 15vw;
}
.neha {
  height: 5vh;
  width: 15vw;
}
.aditya {
  height: 5vh;
  width: 30vw;
}
h1 {
  text-decoration: underline;
}
.k:hover {
  scale: 1.5;
}
.j:hover {
  scale: 1.5;
}
.i:hover {
  scale: 1.5;
}
