* {
    margin: 0;
    border: 0;
}
body{
    height: full;
    width: full;
}
.l{
    height: 8vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    align-items: center;
}
.a{
    height: 8vh;
    width: 20vw;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    height: 8vh;
    width: 20vw;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.k{
    height: 25vh;
    background-color: brown;
    opacity: 0.5;
    display: flex;
    align-items: center;
}
.t{
    height: 20vh;
    background-color: blue;
    width: 35vw;
    padding: 2px;
    margin-left: 20px;
}
.p{
    height: 40vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c{
    background-color: transparent;
    color: white;
}
.d{
     background-color: transparent;
    color: white;
}
.e{
     background-color: transparent;
    color: white;
}
.f{
    background-color: chartreuse;
}